* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 999;
  background-color: black;
}

.navbar-container {
  height: 100%;
  width: 100%;
}

.logo-and-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100%;
}

.logo {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
  font-size: 28px;
  letter-spacing: 4px;
}

.navmenu-toggler {
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.navmenu-toggler:hover {
  background-color: rgb(55, 55, 55);
  transition: all 0.4s ease;
}

.navmenu-toggler:active {
  color: black;
  background-color: rgb(70, 70, 70);
  transition: all 0.4s ease;
}

.collapsable-nav {
  overflow: hidden;
  transition: all 0.5s ease;
}

.nav-collapse {
  height: 0;
}

.nav-show {
  height: 180px;
}

.navmenu {
  background-color: rgb(55, 55, 55);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.nav-link {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 16px;
}

.nav-link:hover {
  background-color: grey;
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 68px;
    height: calc(100vh - 68px);
  }

  /* Navbar */
  .navbar {
    height: 68px;
    display: flex;
    justify-content: center;
  }

  .navbar-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 32px;
    letter-spacing: 5px;
  }

  .navmenu-toggler {
    display: none;
  }

  .collapsable-nav {
    overflow: visible;
    width: 40%;
    height: 100%;
    padding: 0 40px;
  }

  .navmenu {
    flex-direction: row;
    background-color: black;
  }

  .nav-link:hover {
    background-color: rgb(31, 31, 31);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
