* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

/* Default */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  z-index: 999;
  background-color: black;
}

.navbar-container {
  height: 100%;
  width: 100%;
}

.logo-and-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100%;
}

.logo {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  color: white;
  font-size: 28px;
  letter-spacing: 4px;
}

.navmenu-toggler {
  border: none;
  background: none;
  color: white;
  font-size: 24px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.navmenu-toggler:hover {
  background-color: rgb(55, 55, 55);
  transition: all 0.4s ease;
}

.navmenu-toggler:active {
  color: black;
  background-color: rgb(70, 70, 70);
  transition: all 0.4s ease;
}

.collapsable-nav {
  overflow: hidden;
  transition: all 0.5s ease;
}

.nav-collapse {
  height: 0;
}

.nav-show {
  height: 180px;
}

.navmenu {
  background-color: rgb(55, 55, 55);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.nav-link {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 16px;
  /* font-size: 16px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif; */
}

.nav-link:hover {
  background-color: grey;
}

.main-container {
  height: fit-content;
  width: 100%;
  padding: 0 30px 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}

.img-wrapper {
  width: clamp(0px, 100%, 300px);
  aspect-ratio: 1 / 1;
}

.img-wrapper img {
  display: block;
  object-fit: cover;
  object-position: 0% 30%;
  height: 100%;
  width: 100%;
  filter: grayscale(1) brightness(105%);
  -webkit-filter: grayscale(1) brightness(105%);
  transition: all 1s ease;
  opacity: 0;
}

.img-wrapper.loaded img {
  opacity: 1;
}

.img-wrapper img:hover {
  filter: grayscale(0) brightness(100%);
  -webkit-filter: grayscale(0) brightness(100%);
}

.img-skeleton {
  position: relative;
  overflow: hidden;
}

.img-skeleton::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-color: #aaaaaa;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.img-skeleton::after {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1.6s infinite;
  content: "";
  z-index: -1;
}

.text-container {
  width: 100%;
  flex-grow: 1;
}

.about-content {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22.4px;
}

.social-media {
  margin-top: 20px;
  width: 100%;
}

.social-media-wrapper {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.social-media-wrapper a {
  height: 100%;
  width: 30px;
  margin-right: 10px;
}

.social-media-wrapper svg {
  width: 100%;
  height: 100%;
}

/* For Landscape Tablet and Up  */
@media only screen and (min-width: 768px) {
  body {
    margin-top: 68px;
    height: calc(100vh - 68px);
  }

  /* Navbar on Desktop */
  .navbar {
    height: 68px;
    display: flex;
    justify-content: center;
  }

  .navbar-container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 32px;
    letter-spacing: 5px;
  }

  .navmenu-toggler {
    display: none;
  }

  .collapsable-nav {
    overflow: visible;
    width: 40%;
    height: 100%;
    padding: 0 40px;
  }

  .navmenu {
    flex-direction: row;
    background-color: black;
  }

  .nav-link:hover {
    background-color: rgb(31, 31, 31);
  }

  /* Main Content */
  .main-container {
    height: fit-content;
    max-width: 1200px;
    margin: auto;
    padding: 60px 40px;
    flex-direction: row;
    align-items: start;
  }

  .img-container {
    padding: 0;
    /* width: 300px; */
    width: clamp(250px, 30%, 300px);
    height: auto;
    align-items: start;
    transition: all 1s ease;
  }

  .img-wrapper {
    width: 100%;
    aspect-ratio: auto;
    height: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .img-wrapper img {
    object-fit: fill;
  }

  .img-container:has(img:hover) {
    width: 412px;
  }

  .text-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .about-title {
    font-size: 58px;
    line-height: 58px;
  }
  .about-content {
    margin-top: 24px;
    font-size: 16px;
    line-height: 27.2px;
  }
}

@keyframes slide-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
